// 混合宏
$elementSeparator: '__';
$modifierSeparator: '--';

// 转换成字符串
@function selectorToString($selector) {
  $selector: inspect($selector);
  $selector: str-slice($selector, 2, -2);

  @return $selector;
}

// 判断是否存在 Modifier
@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, $modifierSeparator) {
    @return true;
  } @else {
    @return false;
  }
}

// 判断是否存在伪类
@function containsPseudo($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ':') {
    @return true;
  } @else {
    @return false;
  }
}

// BEM

// 块b
@mixin b($block) {
  $B: $block !global;

  .#{$B} {
    @content;
  }
}

// 元素e
@mixin e($element...) {
  $selector: &;
  $selectors: '';

  // 对于伪类，会自动将 e 嵌套在 伪类 底下
  @if containsPseudo($selector) {
    @each $item in $element {
      $selectors: #{$selectors + '.' + $B + $elementSeparator + $item + ','};
    }
    @at-root {
      #{$selector} {
        #{$selectors} {
          @content;
        }
      }
    }
  } @else {
    @each $item in $element {
      $selectors: #{$selectors + $selector + $elementSeparator + $item + ','};
    }
    @at-root {
      #{$selectors} {
        @content;
      }
    }
  }
}

// 状态m
@mixin m($modifier...) {
  $selectors: '';
  $selector: &;

  // m下的m生成 .b--m.b--m 的形式
  @if containsModifier($selector) {
    @each $item in $modifier {
      $selectors: #{$selectors + '.' + $B + $modifierSeparator + $item + ','};
    }
    @at-root {
      #{$selector + $selectors} {
        @content;
      }
    }
  } @else {
    @each $item in $modifier {
      $selectors: #{$selectors + & + $modifierSeparator + $item + ','};
    }
    @at-root {
      #{$selectors} {
        @content;
      }
    }
  }
}

// 对于需要需要嵌套在 m 底下的 e，调用这个混合宏，一般在切换整个组件的状态，如切换颜色的时候
@mixin me($element...) {
  $selector: &;
  $selectors: '';

  @if containsModifier($selector) or containsPseudo($selector) {
    @each $item in $element {
      $selectors: #{$selectors + '.' + $B + $elementSeparator + $item + ','};
    }
    @at-root {
      #{$selector} {
        #{$selectors} {
          @content;
        }
      }
    }
  } @else {
    @each $item in $element {
      $selectors: #{$selectors + $selector + $elementSeparator + $item + ','};
    }
    @at-root {
      #{$selectors} {
        @content;
      }
    }
  }
}

// 状态
@mixin when($status) {
  $selector: &;
  $selector: '' !default;
  @at-root {
    #{$selector}.is-#{$status} {
      @content;
    }
  }
}

// 单行超出隐藏
@mixin lineEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行超出隐藏
@mixin multiEllipsis($lineNumber: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineNumber;
  overflow: hidden;
}

// 清除浮动
@mixin clearFloat {
  &::after {
    display: block;
    content: '';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

// 左浮动
@mixin fl {
  float: left;
}

// 右浮动
@mixin fr {
  float: right;
}

// 中间主题内容
@mixin container {
  width: 1196px;
  margin: 0 auto;
}
